Repository open-edge-platform/virtual-edge-node, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, edge-node-simulator, edge-node-container

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

edge-node-simulator:
  - changed-files:
    - any-glob-to-any-file: "edge-node-simulator/**"

edge-node-container:
  - changed-files:
    - any-glob-to-any-file: "edge-node-container/**"

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update VERSION
  vm-provisioning/VERSION
  vm-provisioning/scripts/create_vm.sh
Labels: none

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

ven Update VERSION 1.0.7 (#24)
  vm-provisioning/VERSION
  vm-provisioning/scripts/create_vm.sh
Labels: none

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update VERSION
  vm-provisioning/VERSION
Labels: none

Adds enic arch diagram (#19)
  SECURITY.md
  edge-node-container/README.md
  edge-node-container/VERSION
  edge-node-container/chart/Chart.yaml
  edge-node-container/docs/internals.md
  edge-node-simulator/VERSION
  edge-node-simulator/charts/Chart.yaml
  edge-node-simulator/pkg/en/onboard/north.go
  edge-node-simulator/pkg/en/onboard/onboard.go
  edge-node-simulator/pkg/en/onboard/tinker.go
Labels: root, edge-node-simulator, edge-node-container

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Disk size and custom serial update in readme
  vm-provisioning/README.md
  vm-provisioning/VERSION
Labels: none

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update version to 1.0.8-dev
  vm-provisioning/VERSION
Labels: none

Disk size and custom serial update in readme (#25)
  vm-provisioning/README.md
  vm-provisioning/VERSION
Labels: none

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update VERSION
  vm-provisioning/VERSION
Labels: none

Update pre-merge.yml (#14)
  .github/workflows/pre-merge.yml
  vm-provisioning/VERSION
Labels: CI ðŸ¤–

Bumps ENA manifest to 1.0.0
  edge-node-container/.reuse/dep5
  edge-node-container/EN_MANIFEST_VERSION
  edge-node-container/Makefile
  edge-node-container/README.md
  edge-node-container/VERSION
  edge-node-container/chart/Chart.yaml
  edge-node-container/chart/bma_values.yaml
  edge-node-container/chart/values.yaml
Labels: edge-node-container

Fix bma_packages_test
  edge-node-container/Makefile
Labels: edge-node-container

modified the files and folder permissions in vm-provisioning
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

cleanup the network after destroying VMs
  .github/workflows/pre-merge.yml
  vm-provisioning/README.md
  vm-provisioning/VERSION
  vm-provisioning/scripts/create_vm.sh
  vm-provisioning/scripts/network_file_backup_restore.sh
Labels: CI ðŸ¤–

Update VERSION
  vm-provisioning/VERSION
Labels: none

Deleting the network associated to VM (#30)
  vm-provisioning/README.md
  vm-provisioning/VERSION
  vm-provisioning/scripts/create_vm.sh
  vm-provisioning/scripts/network_file_backup_restore.sh
Labels: none

modified the files and folder permissions in vm-provisioning
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Release 1.0.9
  .github/workflows/pre-merge.yml
  vm-provisioning/VERSION
Labels: CI ðŸ¤–

Release 1.0.9 (#31)
  vm-provisioning/VERSION
Labels: none

Bumps ENA manifest to 1.0.0 and adds bma packages check (#29)
  edge-node-container/.reuse/dep5
  edge-node-container/EN_MANIFEST_VERSION
  edge-node-container/README.md
  edge-node-container/VERSION
  edge-node-container/chart/Chart.yaml
  edge-node-container/chart/bma_values.yaml
  edge-node-container/chart/values.yaml
Labels: edge-node-container

Adds license to readme and other folders
  README.md
Labels: root

Adds dependency-check
  Makefile
  requirements.txt
Labels: root

Added License section in README.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  VERSION
  vm-provisioning/VERSION
Labels: root

Added License section in README.md (#35)
  CONTRIBUTING.md
  README.md
  SECURITY.md
  VERSION
  vm-provisioning/VERSION
Labels: root

Adds contribute section to readme
  README.md
Labels: root

Fix contribute section
  README.md
Labels: root

Fix links
  README.md
Labels: root
