Repository open-edge-platform/virtual-edge-node, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, edge-node-simulator, edge-node-container

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

edge-node-simulator:
  - changed-files:
    - any-glob-to-any-file: "edge-node-simulator/**"

edge-node-container:
  - changed-files:
    - any-glob-to-any-file: "edge-node-container/**"

Adds license to readme and other folders (#41)
  CONTRIBUTING.md
  Makefile
  README.md
  SECURITY.md
  VERSION
  requirements.txt
  vm-provisioning/VERSION
Labels: root

Increases serial in ensim, removes projectID in cli param
  edge-node-simulator/api/ensim/v1/ensim.proto
  edge-node-simulator/cmd/ensim/client/main.go
  edge-node-simulator/pkg/api/ensim/v1/ensim.pb.go
  edge-node-simulator/pkg/api/ensim/v1/ensim.pb.validate.go
  edge-node-simulator/pkg/en/agents/agents.go
  edge-node-simulator/pkg/sim/cli.go
  edge-node-simulator/pkg/sim/northbound.go
  edge-node-simulator/test/ensim/smoke_test.go
  edge-node-simulator/test/flags/flags.go
  edge-node-simulator/test/infra/common_test.go
  edge-node-simulator/test/infra/day0_test.go
  edge-node-simulator/test/infra/day1_test.go
Labels: edge-node-simulator

Fixes enSerial
  edge-node-simulator/pkg/sim/northbound.go
Labels: edge-node-simulator

Set msg in debug mode for agents status
  edge-node-simulator/pkg/en/agents/agents.go
Labels: edge-node-simulator

Adds download of artifacts to ensim
  edge-node-simulator/pkg/en/defs/defs.go
  edge-node-simulator/pkg/en/onboard/artifacts.go
  edge-node-simulator/pkg/sim/edgenode.go
Labels: edge-node-simulator

latest image updated
  vm-provisioning/README.md
  vm-provisioning/docs/Security_feature.png
  vm-provisioning/docs/provider_config.png
Labels: none

latest image updated for Vm-provisioning Readme file (#43)
  vm-provisioning/README.md
  vm-provisioning/docs/Security_feature.png
  vm-provisioning/docs/provider_config.png
Labels: none

Adds auto provision to ensim edge nodes
  edge-node-simulator/pkg/en/onboard/south.go
  edge-node-simulator/pkg/sim/northbound.go
Labels: edge-node-simulator

Debug message to token refresh
  edge-node-simulator/pkg/en/keycloak/token.go
Labels: edge-node-simulator

Adds cleanup with API
  edge-node-simulator/test/infra/cleanup_test.go
  edge-node-simulator/test/utils/api.go
Labels: edge-node-simulator

Adds jwt token routine to cleanup
  edge-node-simulator/test/infra/cleanup_test.go
Labels: edge-node-simulator

readme update
  vm-provisioning/README.md
Labels: none

Logs cfg
  edge-node-simulator/test/flags/flags.go
Labels: edge-node-simulator

Adds ctx to cleanup
  edge-node-simulator/test/utils/api.go
Labels: edge-node-simulator

Fix ctx in cleanup
  edge-node-simulator/test/utils/api.go
Labels: edge-node-simulator

Adds codeowners and removes contributing in .github
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .gitignore
  edge-node-simulator/test/README.md
Labels: CI ðŸ¤–, root, edge-node-simulator

Adds more
  .github/CODEOWNERS
Labels: CI ðŸ¤–

chore: add CODEOWNERS
  .github/CODEOWNERS
Labels: CI ðŸ¤–

Remove CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: CI ðŸ¤–

Add @Ram-srini to CODEOWNERS file
  .github/CODEOWNERS
Labels: CI ðŸ¤–

chore: add CODEOWNERS (#47)
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
Labels: CI ðŸ¤–

Testing different probes
  edge-node-container/chart/templates/statefulset.yaml
Labels: edge-node-container

Bump version
  edge-node-container/VERSION
  edge-node-container/chart/Chart.yaml
Labels: edge-node-container

Always setting probe to true and removing onboarding timeout
  edge-node-container/chart/templates/statefulset.yaml
  edge-node-container/cmd/main.go
Labels: edge-node-container

Remove onboarding timeout in ENiC (#48)
  edge-node-container/VERSION
  edge-node-container/chart/Chart.yaml
  edge-node-container/cmd/main.go
Labels: edge-node-container

Fix go-lint
  edge-node-simulator/pkg/en/onboard/artifacts.go
  edge-node-simulator/pkg/sim/edgenode.go
Labels: edge-node-simulator

Adds ENA manifest and flags to download options
  edge-node-simulator/pkg/en/defs/defs.go
  edge-node-simulator/pkg/en/onboard/artifacts.go
  edge-node-simulator/pkg/sim/cfg.go
  edge-node-simulator/pkg/sim/defs.go
  edge-node-simulator/pkg/sim/northbound.go
Labels: edge-node-simulator

Fix artifacts names
  edge-node-simulator/pkg/en/onboard/artifacts.go
Labels: edge-node-simulator

Fix trivy scan
  edge-node-simulator/go.mod
  edge-node-simulator/go.sum
  edge-node-simulator/pkg/en/keycloak/jwt.go
  edge-node-simulator/pkg/en/onboard/artifacts.go
Labels: edge-node-simulator

Bumps patch version
  edge-node-simulator/VERSION
  edge-node-simulator/charts/Chart.yaml
Labels: edge-node-simulator
