Repository open-edge-platform/virtual-edge-node, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, edge-node-simulator, edge-node-container

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

edge-node-simulator:
  - changed-files:
    - any-glob-to-any-file: "edge-node-simulator/**"

edge-node-container:
  - changed-files:
    - any-glob-to-any-file: "edge-node-container/**"

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Adds security considerations for ENiC
  SECURITY.md
  edge-node-container/README.md
  edge-node-container/docs/internals.md
Labels: root, edge-node-container

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Format enic readme
  edge-node-container/README.md
Labels: edge-node-container

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update VERSION
  vm-provisioning/VERSION
Labels: none

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update VERSION
  vm-provisioning/VERSION
Labels: none

Update VERSION
  edge-node-simulator/VERSION
Labels: edge-node-simulator

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update VERSION
  edge-node-simulator/VERSION
Labels: edge-node-simulator

Update VERSION
  vm-provisioning/VERSION
Labels: none

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update version to 1.0.7-dev
  vm-provisioning/VERSION
Labels: none

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

modified the files and folder permissions in vm-provisioning
  .github/workflows/pre-merge.yml
  vm-provisioning/Makefile
  vm-provisioning/README.md
  vm-provisioning/VERSION
  vm-provisioning/install_packages.sh
  vm-provisioning/permission_set.sh
  vm-provisioning/scripts/ci_network_bridge.sh
  vm-provisioning/scripts/ci_setup_dnsmasq.sh
  vm-provisioning/scripts/common_vars.sh
  vm-provisioning/scripts/create_new_user.sh
  vm-provisioning/scripts/create_vm.sh
  vm-provisioning/scripts/destroy_vm.sh
  vm-provisioning/scripts/host_status_check.sh
  vm-provisioning/scripts/network_file_backup_restore.sh
  vm-provisioning/scripts/nio_flow_host_config.sh
  vm-provisioning/scripts/nio_flow_validation.sh
  vm-provisioning/scripts/remove_all_packages.sh
  vm-provisioning/scripts/show_host-status.sh
  vm-provisioning/scripts/socket_login.exp
  vm-provisioning/scripts/update_provider_defaultos.sh
  vm-provisioning/scripts/vm_network_cleanup.sh
Labels: CI ðŸ¤–

Script to remove the excessive permissions for files and directories (#15)
  .github/workflows/pre-merge.yml
  vm-provisioning/Makefile
  vm-provisioning/README.md
  vm-provisioning/VERSION
  vm-provisioning/install_packages.sh
  vm-provisioning/scripts/ci_network_bridge.sh
  vm-provisioning/scripts/ci_setup_dnsmasq.sh
  vm-provisioning/scripts/common_vars.sh
  vm-provisioning/scripts/create_new_user.sh
  vm-provisioning/scripts/create_vm.sh
  vm-provisioning/scripts/destroy_vm.sh
  vm-provisioning/scripts/host_status_check.sh
  vm-provisioning/scripts/network_file_backup_restore.sh
  vm-provisioning/scripts/nio_flow_host_config.sh
  vm-provisioning/scripts/nio_flow_validation.sh
  vm-provisioning/scripts/remove_all_packages.sh
  vm-provisioning/scripts/show_host-status.sh
  vm-provisioning/scripts/socket_login.exp
  vm-provisioning/scripts/update_provider_defaultos.sh
  vm-provisioning/scripts/vm_network_cleanup.sh
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Fixes to work with DMverity flag (#20)
  vm-provisioning/config
  vm-provisioning/templates/Vagrantfile
Labels: none

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Fix go-lint
  edge-node-simulator/pkg/en/onboard/north.go
  edge-node-simulator/test/utils/utils.go
Labels: edge-node-simulator

Fix go.sum
  edge-node-simulator/test/utils/utils.go
Labels: edge-node-simulator

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update VERSION
  vm-provisioning/VERSION
Labels: none

Update VERSION
  vm-provisioning/VERSION
Labels: none

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–
