Repository open-edge-platform/virtual-edge-node, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, edge-node-simulator, edge-node-container

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

edge-node-simulator:
  - changed-files:
    - any-glob-to-any-file: "edge-node-simulator/**"

edge-node-container:
  - changed-files:
    - any-glob-to-any-file: "edge-node-container/**"

Readme file update
  vm-provisioning/README.md
  vm-provisioning/VERSION
Labels: none

Readme file update (#1)
  vm-provisioning/README.md
  vm-provisioning/VERSION
Labels: none

Static serial numbers support
  vm-provisioning/VERSION
  vm-provisioning/scripts/create_vm.sh
  vm-provisioning/scripts/nio_flow_host_config.sh
  vm-provisioning/templates/Vagrantfile
Labels: none

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update VERSION
  vm-provisioning/VERSION
Labels: none

Release ENSim v0.5.0
  edge-node-simulator/VERSION
  edge-node-simulator/charts/Chart.yaml
  edge-node-simulator/go.mod
  edge-node-simulator/go.sum
Labels: edge-node-simulator

Release ENSim v0.5.0 (#4)
  edge-node-simulator/VERSION
  edge-node-simulator/charts/Chart.yaml
  edge-node-simulator/go.mod
  edge-node-simulator/go.sum
Labels: edge-node-simulator

Static serial numbers support (#2)
  vm-provisioning/VERSION
  vm-provisioning/scripts/create_vm.sh
  vm-provisioning/scripts/nio_flow_host_config.sh
  vm-provisioning/templates/Vagrantfile
Labels: none

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update VERSION
  vm-provisioning/VERSION
Labels: none

Update VERSION
  vm-provisioning/VERSION
Labels: none

Update VERSION
  vm-provisioning/VERSION
Labels: none

exclude subfolder, handled on sub-project
  .reuse/dep5
Labels: none

fix linter
  .github/CODEOWNERS
  .markdownlint.yml
  .reuse/dep5
Labels: CI ðŸ¤–, root

remove unneded env
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml (#3)
  .github/CODEOWNERS
  .github/workflows/pre-merge.yml
  .markdownlint.yml
  .reuse/dep5
  vm-provisioning/VERSION
Labels: CI ðŸ¤–, root

Release edge-node-simulator v0.5.1
  edge-node-simulator/VERSION
  edge-node-simulator/go.sum
Labels: edge-node-simulator

bump chart version
  edge-node-simulator/charts/Chart.yaml
Labels: edge-node-simulator

go mod tidy for both ensim and enic
  edge-node-container/go.mod
  edge-node-container/go.sum
Labels: edge-node-container

go mod tidy for enic
  edge-node-simulator/go.sum
Labels: edge-node-simulator

Release edge-node-simulator v0.5.1 (#5)
  edge-node-simulator/VERSION
  edge-node-simulator/charts/Chart.yaml
  edge-node-simulator/go.sum
Labels: edge-node-simulator

Release edge-node-container v0.5.0
  edge-node-container/VERSION
  edge-node-container/chart/Chart.yaml
  edge-node-container/go.mod
  edge-node-container/go.sum
Labels: edge-node-container

Update ENA manifest ref
  edge-node-container/EN_MANIFEST_VERSION
Labels: edge-node-container

Release edge-node-container v0.5.0 (#7)
  edge-node-container/EN_MANIFEST_VERSION
  edge-node-container/VERSION
  edge-node-container/chart/Chart.yaml
  edge-node-container/go.mod
  edge-node-container/go.sum
Labels: edge-node-container

Updated md file with io and nio flows
  vm-provisioning/Makefile
  vm-provisioning/VERSION
  vm-provisioning/docs/01-vm-prov-design.md
  vm-provisioning/docs/ven-io-flow-seq.png
  vm-provisioning/docs/ven-io-flow-seq.puml
  vm-provisioning/docs/ven-nio-flow-seq.png
  vm-provisioning/docs/ven-nio-flow-seq.puml
Labels: none

default provider add osSecurityFeatureEnable as false
  vm-provisioning/scripts/update_provider_defaultos.sh
Labels: none

fix: variable templating in curl commands
  vm-provisioning/README.md
Labels: none

version: bump to 1.0.5
  vm-provisioning/VERSION
Labels: none

fix: variable templating in curl commands (#10)
  vm-provisioning/README.md
  vm-provisioning/VERSION
Labels: none

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update VERSION
  vm-provisioning/VERSION
Labels: none

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

excessive permissions set script
  vm-provisioning/VERSION
  vm-provisioning/permission_set.sh
  vm-provisioning/scripts/create_vm.sh
  vm-provisioning/scripts/socket_login.exp
Labels: none

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–
