Repository open-edge-platform/virtual-edge-node, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, edge-node-simulator, edge-node-container

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

edge-node-simulator:
  - changed-files:
    - any-glob-to-any-file: "edge-node-simulator/**"

edge-node-container:
  - changed-files:
    - any-glob-to-any-file: "edge-node-container/**"

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Removed hardcoding from config
  vm-provisioning/README.md
  vm-provisioning/VERSION
  vm-provisioning/config
  vm-provisioning/permission_set.sh
  vm-provisioning/scripts/create_vm.sh
  vm-provisioning/scripts/host_status_check.sh
  vm-provisioning/scripts/io_configs.sh
  vm-provisioning/scripts/nio_configs.sh
  vm-provisioning/scripts/nio_flow_validation.sh
  vm-provisioning/scripts/show_host-status.sh
  vm-provisioning/scripts/socket_login.exp
  vm-provisioning/scripts/update_provider_defaultos.sh
Labels: none

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Removed password hard coding from config file
  vm-provisioning/VERSION
  vm-provisioning/scripts/create_vm.sh
  vm-provisioning/scripts/io_configs.sh
  vm-provisioning/scripts/nio_configs.sh
Labels: none

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update Makefile
  vm-provisioning/Makefile
Labels: none

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update Makefile
  vm-provisioning/Makefile
Labels: none

Update Makefile
  vm-provisioning/Makefile
Labels: none

Added io and nio configs in secret.yml file for Ansible
  vm-provisioning/README.md
  vm-provisioning/ansible/create_vms.yml
  vm-provisioning/ansible/secret.yml
  vm-provisioning/config
  vm-provisioning/scripts/create_vm.sh
  vm-provisioning/scripts/nio_configs.sh
Labels: none

Removed password hard coding from config file (#16)
  vm-provisioning/README.md
  vm-provisioning/VERSION
  vm-provisioning/ansible/create_vms.yml
  vm-provisioning/ansible/secret.yml
  vm-provisioning/config
  vm-provisioning/scripts/create_vm.sh
  vm-provisioning/scripts/host_status_check.sh
  vm-provisioning/scripts/io_configs.sh
  vm-provisioning/scripts/nio_configs.sh
  vm-provisioning/scripts/nio_flow_validation.sh
  vm-provisioning/scripts/show_host-status.sh
  vm-provisioning/scripts/update_provider_defaultos.sh
Labels: none

Update Makefile
  vm-provisioning/Makefile
Labels: none

Update VERSION
  vm-provisioning/VERSION
Labels: none

Update VERSION
  edge-node-simulator/VERSION
Labels: edge-node-simulator

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update Makefile
  vm-provisioning/Makefile
Labels: none

Adds enic arch diagram
  edge-node-container/docs/internals.md
Labels: edge-node-container

excessive permissions set script
  vm-provisioning/permission_set.sh
  vm-provisioning/scripts/create_vm.sh
  vm-provisioning/scripts/socket_login.exp
Labels: none

relase rebase
  vm-provisioning/VERSION
  vm-provisioning/permission_set.sh
  vm-provisioning/scripts/create_vm.sh
  vm-provisioning/scripts/nio_configs.sh
  vm-provisioning/scripts/socket_login.exp
Labels: none

relase rebase
  vm-provisioning/VERSION
Labels: none

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Fix teardown in ensim and bumps minor
  edge-node-container/VERSION
  edge-node-container/chart/Chart.yaml
  edge-node-simulator/VERSION
  edge-node-simulator/charts/Chart.yaml
  edge-node-simulator/pkg/en/onboard/north.go
  edge-node-simulator/pkg/en/onboard/onboard.go
  edge-node-simulator/pkg/en/onboard/tinker.go
Labels: edge-node-simulator, edge-node-container

excessive permissions set script
  vm-provisioning/permission_set.sh
  vm-provisioning/scripts/create_vm.sh
  vm-provisioning/scripts/socket_login.exp
Labels: none

Update create_vm.sh
  vm-provisioning/scripts/create_vm.sh
Labels: none

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Updates diagram enic
  edge-node-container/docs/internals.md
Labels: edge-node-container

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–
