Repository open-edge-platform/virtual-edge-node, pull requests merged in 2025-05, with the labels that each got.

#63 Git wf security issue
  .github/labeler.yml
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/auto-update.yml
  .github/workflows/post-merge-edge-node-container.yml
  .github/workflows/post-merge-edge-node-simulator.yml
  .github/workflows/post-merge-vm-provisioning.yml
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#65 Sets NIO by default in ensim
  .github/workflows/pre-merge.yml
  edge-node-simulator/VERSION
  edge-node-simulator/api/ensim/v1/ensim.proto
  edge-node-simulator/charts/Chart.yaml
  edge-node-simulator/go.mod
  edge-node-simulator/go.sum
  edge-node-simulator/pkg/api/ensim/v1/ensim.pb.go
  edge-node-simulator/pkg/api/ensim/v1/ensim.pb.validate.go
  edge-node-simulator/pkg/en/defs/defs.go
  edge-node-simulator/pkg/en/onboard/north.go
  edge-node-simulator/pkg/en/onboard/south.go
  edge-node-simulator/pkg/sim/cli.go
  edge-node-simulator/pkg/sim/client.go
  edge-node-simulator/pkg/sim/edgenode.go
  edge-node-simulator/pkg/sim/northbound.go
  edge-node-simulator/test/README.md
  edge-node-simulator/test/ensim/smoke_test.go
  edge-node-simulator/test/flags/flags.go
  edge-node-simulator/test/infra/cleanup_test.go
  edge-node-simulator/test/infra/common_test.go
  edge-node-simulator/test/infra/day0_test.go
  edge-node-simulator/test/infra/day1_test.go
  edge-node-simulator/test/infra/day2_test.go
  edge-node-simulator/test/utils/infra.go
Labels: edge-node-simulator, CI 🤖

#68 Fix post-merge jobs to use tagged orch-ci
  .github/workflows/post-merge-edge-node-container.yml
  .github/workflows/post-merge-edge-node-simulator.yml
  .github/workflows/post-merge-vm-provisioning.yml
  edge-node-simulator/VERSION
  edge-node-simulator/charts/Chart.yaml
Labels: edge-node-simulator, CI 🤖

#71 Adds retries to init agents setup
  edge-node-simulator/VERSION
  edge-node-simulator/charts/Chart.yaml
  edge-node-simulator/pkg/en/agents/agents.go
  edge-node-simulator/pkg/en/onboard/south.go
Labels: edge-node-simulator

#75 License and Open SSF badges
  README.md
Labels: root

#76 Upping OpenSSF score with permission and version pinning
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/auto-update.yml
  .github/workflows/post-merge-edge-node-container.yml
  .github/workflows/post-merge-edge-node-simulator.yml
  .github/workflows/post-merge-vm-provisioning.yml
  .github/workflows/pre-merge.yml
  .gitignore
  edge-node-container/Dockerfile
  edge-node-container/Dockerfile.utils
  edge-node-container/go.mod
  edge-node-container/go.sum
  edge-node-simulator/Dockerfile
  edge-node-simulator/VERSION
  edge-node-simulator/charts/Chart.yaml
  edge-node-simulator/go.mod
  edge-node-simulator/go.sum
Labels: edge-node-simulator, edge-node-container, CI 🤖, root

#82 chore: use self hosted update action
  .github/workflows/auto-update.yml
Labels: CI 🤖

#83 chore: sort all zizimor findings
  .github/dependabot.yml
  .github/workflows/post-merge-edge-node-container.yml
  .github/workflows/post-merge-edge-node-simulator.yml
  .github/workflows/post-merge-vm-provisioning.yml
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#96 fix: update agents.sh to allow node-agent to start
  edge-node-container/.trivyignore
  edge-node-container/VERSION
  edge-node-container/chart/Chart.yaml
  edge-node-container/scripts/agents.sh
  edge-node-container/scripts/agents_env.tpl
Labels: edge-node-container
