Repository open-edge-platform/virtual-edge-node, pull requests merged in 2025-06, with the labels that each got.

#106 Moves ensim to use apiv2 and adds REUSE.tom with reuse v5
  .reuse/dep5
  REUSE.toml
  edge-node-container/.reuse/dep5
  edge-node-container/REUSE.toml
  edge-node-container/VERSION
  edge-node-container/chart/Chart.yaml
  edge-node-container/requirements.txt
  edge-node-simulator/.reuse/dep5
  edge-node-simulator/README.md
  edge-node-simulator/REUSE.toml
  edge-node-simulator/VERSION
  edge-node-simulator/charts/Chart.yaml
  edge-node-simulator/go.mod
  edge-node-simulator/go.sum
  edge-node-simulator/pkg/en/agents/agents.go
  edge-node-simulator/pkg/en/onboard/north.go
  edge-node-simulator/requirements.txt
  edge-node-simulator/test/README.md
  edge-node-simulator/test/ensim/smoke_test.go
  edge-node-simulator/test/flags/flags.go
  edge-node-simulator/test/infra/cleanup_test.go
  edge-node-simulator/test/infra/common_test.go
  edge-node-simulator/test/infra/day0_test.go
  edge-node-simulator/test/infra/day1_test.go
  edge-node-simulator/test/infra/day2_test.go
  edge-node-simulator/test/utils/api.go
  edge-node-simulator/test/utils/examples.go
  edge-node-simulator/test/utils/infra.go
  vm-provisioning/.reuse/dep5
  vm-provisioning/REUSE.toml
  vm-provisioning/requirements.txt
Labels: vm-provisioning, edge-node-simulator, edge-node-container, root

#108 Update ena manifest to v1.1.5
  edge-node-container/EN_MANIFEST_VERSION
  edge-node-container/chart/bma_values.yaml
  edge-node-container/chart/values.yaml
Labels: edge-node-container

#113 Create post-merge check for pico taging
  .github/workflows/post-merge-pico.yml
Labels: CI 🤖

#120 Fixes integration tests flag orchFQDN to clusterFQDN
  edge-node-simulator/Makefile
  edge-node-simulator/VERSION
  edge-node-simulator/charts/Chart.yaml
  edge-node-simulator/test/README.md
  edge-node-simulator/test/flags/flags.go
Labels: edge-node-simulator

#121 Releases ensim v0.6.5
  edge-node-simulator/VERSION
  edge-node-simulator/charts/Chart.yaml
Labels: edge-node-simulator

#125 Update codeowner
  .github/CODEOWNERS
Labels: CI 🤖

#123 [itep-27847] Adds test script with cases to run scale tests (up/down/check)
  edge-node-simulator/.golangci.yml
  edge-node-simulator/VERSION
  edge-node-simulator/charts/Chart.yaml
  edge-node-simulator/pkg/en/onboard/north.go
  edge-node-simulator/pkg/en/onboard/tinker.go
  edge-node-simulator/pkg/sim/client.go
  edge-node-simulator/test/README.md
  edge-node-simulator/test/ensim/smoke_test.go
  edge-node-simulator/test/flags/flags.go
  edge-node-simulator/test/infra/cleanup_test.go
  edge-node-simulator/test/infra/day0_test.go
  edge-node-simulator/test/infra/day1_test.go
  edge-node-simulator/test/infra/day2_test.go
  edge-node-simulator/test/scale/main_test.go
  edge-node-simulator/test/scale/scale_test.go
  edge-node-simulator/test/utils/api.go
Labels: edge-node-simulator

#130 Fixes uuid filter in api nbi implementation
  edge-node-simulator/VERSION
  edge-node-simulator/charts/Chart.yaml
  edge-node-simulator/pkg/en/onboard/north.go
Labels: edge-node-simulator
