Repository open-edge-platform/virtual-edge-node, pull requests merged in 2025-04, with the labels that each got.

#49 chore: various CI improvements
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/auto-update.yml
  .github/workflows/pre-merge.yml
  .github/workflows/run-mdlist.yml
Labels: CI 🤖

#54 feat: Add contributors file
  CONTRIBUTORS.md
Labels: root

#55 chore: Add LICENSE file to the root
  LICENSE
Labels: root

#51 chore: Remove ECR create repository from Makefile
  edge-node-container/Makefile
  edge-node-simulator/Makefile
Labels: edge-node-simulator, edge-node-container

#53 chore: Remove useless GOPRIVATE, Token
  .github/dependabot.yml
  common.mk
  edge-node-simulator/test/README.md
Labels: edge-node-simulator, edge-node-container, CI 🤖, root

#44 Adds download of artifacts to ensim
  edge-node-simulator/pkg/en/defs/defs.go
  edge-node-simulator/pkg/en/onboard/artifacts.go
  edge-node-simulator/pkg/en/onboard/artifacts_test.go
  edge-node-simulator/pkg/sim/cfg.go
  edge-node-simulator/pkg/sim/defs.go
  edge-node-simulator/pkg/sim/edgenode.go
  edge-node-simulator/pkg/sim/northbound.go
Labels: edge-node-simulator
